<!DOCTYPE html>
<html>
<head>
    <title>Page Ranker</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div id="search-container">
        <div id="logo">
            <img src="static\search.png" alt="Your Logo" width="300" height="100">
        </div>
        <!-- <form action="javascript:void(0);" onsubmit="handleSearch()"> -->
            <form action="{{ url_for('search') }}" method="get">
            <input type="text" name="q" id="search-box" placeholder="Search the web">
            <br>
            <input type="submit" value="Search" id="search-button">
        </form>
    </div>

</body>
</html>